.container{
    display: flex;
}
.menu{
    width:300px ;
}
.main{
    width: calc(100vw - 300px);
}
@media(max-width : 1024px){
    .menu{
        display: none;
    }
    .main{
        width: 100vw;
    }
}